@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-primary: #13ec5b;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;

  /* Custom Fonts */
  --font-display: "Lexend", sans-serif;
  
  /* Custom Border Radius */
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

/* Base Styles */
@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark text-slate-900 dark:text-white;
  }
}

/* Support for Google Material Icons */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.fill-icon {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}